<footer class="container">
      <hr>
      <p>{{ site.time | date: '%Y' }} | <a target="_blank" href="https://www.github.com/256k">github</a> -
      <strike><a href="">twitter</a></strike> -
        <a target="_blank" href="https://c.im/@256k">mastodon</a> -
        <a target="_blank" href="https://www.youtube.com/channel/UCjB1kddbAqQmzbhSGsqFCug">youtube</a> -
        <a target="_blank" href="https://www.instagram.com/fayek/">instagram</a> -
        <a target="_blank" href="mailto:256k.labs@gmail.com">email</a></p>
</footer>
